Source: ros-indigo-executive-smach-visualization
Section: misc
Priority: extra
Maintainer: Jonathan Bohren <jbo@jhu.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/smach
Standards-Version: 3.9.2

Package: ros-indigo-executive-smach-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-smach-viewer
Description: This metapackage depends on the SMACH visualization tools.
